<html>
{% extends 'base.html' %}

{% block head %}
<center><h2><u>Delete Tasks</u></h2></center>
{% endblock %}


{% block body %}
<br>
<br>
<center>
  <form method=post>
  <select id="task" name="task">
    <option>Select Task</option>
    {% for key, value in tasks.items() %}
      <option value= "{{ key }}" > {{ value }} </option>
    {% endfor %}

      <!-- Iterating through tasks dictionary to create options for the user with the key as the taskid and the value as the task name -->

  </select>
  <br>
  <br>
  <button type="Submit" id=button name=button>Next</button>
</center>
{% endblock %}
 </form>


</html>
