<!DOCTYPE html>
{% extends 'base.html' %}


{% block head %}
<center><h2><u>Register</u></h2></center>
<center><font color="red">{{error}}</font></center>
{% endblock %}
{% block body %}
<div>
  <center>
  <form id="MainForm" method="post">
    <div>
      <input type="FirstName" id="FirstName" name="FirstName" placeholder="First Name:" size ="40" required/>&emsp;&emsp;
      <input type="LastName" id="LastName" name="LastName" placeholder="Last Name:" size="40" required/>
    </div>
    <br>
    <div>
      <input type="email" id="email" name="email" placeholder="Email Address:" size="70" required/>
    </div>
    <br>
    <div>
    <input type="password" id="password" name="password" placeholder="Password:" size ="50" required/>&emsp;
    </div>
    <br>
    <div>
    <input type="password" id="RepeatPassword" name="RepeatPassword" placeholder="Repeat Password:" size ="50" required/>&emsp;
    </div>
    <br>
    <button type="Submit" id=button name=button>Register</button>

  </form>
</div>
{% endblock %}
